.navbar{
    padding: 14px;
    background-image: url('https://cdn.vectorstock.com/i/1000v/13/40/todo-list-seamless-pattern-universal-background-vector-7561340.jpg');
    background-size: cover;
    font-family: serif;
}
img{
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 10px;
}
.user-content{
    width: 8vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 6px;
    background-color: transparent;
    box-shadow:2px 4px 10px rgba(0, 0, 0, 0.45);
}
.logout{
    border-width: 0px;
    height: 40px;
    border-radius: 5px;
    padding: 8px;
    margin-right: 10px;
    font-weight: bold;
}


@media screen and (max-width: 768px) {

    .button-container {
        width: 35vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }
    .user-content{
        width: 25vw;
        margin: 5px;
        padding: 0px;
        height: 6vh;
    }
    .logout{
        width: 18vw;
    }
    .img{
        width: 27px;
        height: 27px;
    }
    .navbar{
        font-size: 14px;
        margin-right: -5px;
        padding-right: -5px;
    }
}
